@import '../css/main.scss';

header, section{
    padding: 15vmin;
}

.center{
    @include position(relative, 50%, 0%, -50%, -0%);
}
.link-hover{
    position: relative;
    left: 0px;
    transition: $transition;
    &:hover{
        left: 25px;
    }
}
.header_title{
    letter-spacing: normal;
    transition: $transition;
    &:hover{
        letter-spacing: 1rem;
    }
}

// Main css
.sec-01{
    background-image: url(../photos/cover-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .black-cover{
        background: $dark;
        position: absolute;
        @include position(absolute, 50%, 50%, -50%, -50%);
        height: 100vh;
        width: 100%;
        opacity: 0.8;
    }
    .intro{
        @include position(absolute, 50%, 50%, -50%, -50%);
        font-size: 6vmin;
        text-align: center;
        text-transform: uppercase;
        h1{
            letter-spacing: 0;
            transition: $transition;
            &:hover{
                letter-spacing: 0.4rem;
            }
        }
    }
    
}

.sec-02{
    img{
        border-radius: 1rem;
        transition: $transition;
        &:hover{
            border-radius: 5rem;
        }
    }
}