@import '../css/main.scss';

footer{
    padding: 10vmin 0;
    background: $dark;
    color: $light;
    .navbar-nav{
        .nav-item{
            .nav-link{
                color: $light;
                font-size: 0.8rem;
                @include position(relative, 0px, 0px, 0, 0);
                transition: $transition;
                &:hover{
                    left: 15px;
                }
                &::after{
                    content: '';
                    background: $light;
                    height: 1px;
                    width: 0%;
                    @include position(absolute, 100%, 0, 0%, 0%);
                    transition: $transition;
                }
            }
            .nav-link:hover::after{
                width: 50%;
            }
        }
    }
    .social-link{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}